/*revamp*/

* {
  -webkit-font-smoothing: antialiased;
}

.splash-examples, .engage-examples {
  position: relative;
  min-height: 400px;
}

.splash-examples img.img-1, .splash-examples img.img-2, .splash-examples img.img-3 {
  max-height: 300px;
  border: none;
}

.splash-examples img.img-1 {
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
  left: 65%;
  z-index: 43;
}

.splash-examples img.img-2 {
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
  left: calc(65% - 120px);
  z-index: 42;
}

.splash-examples img.img-3 {
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
  left: calc(65% + 120px);
  z-index: 42;
}

.engage-examples img.img-1 {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  left: calc(55% - 50px);
  z-index: 43;
  max-height: 300px;
}

.engage-examples img.img-2 {
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
  left: calc(55% - 0px);
  z-index: 42;
  max-height: 300px;
}

.page-content {
  background-image: linear-gradient(120deg, #ffffff 50%, #fdfbfb 100%);
}

.flat-card img {
  border: solid 1px #ECEFF1;
  border-radius: 4px;
  box-shadow: 0 5px 40px rgba(0,0,0,0.10);
  transition: 0.2s ease-in-out;
}

.flat-card img:hover {
  box-shadow: 0 5px 40px rgba(0,0,0,0.20);
}

/*body*/

.invisible-man {
  display: none;
}

.row {
  max-width: 90rem;
}

.row.banner {
  padding-top: 80px;
  padding-bottom: 80px;
}

.center-cell {
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

h1 {
  color: rgba(39, 50, 56, 0.9);
}

h2, h3, h4, h5, h6 {
  color: rgba(39, 50, 56, 0.8);
}

h1, h2 {
  text-transform: capitalize;
}

h1 {
    line-height: 1.2;
}

p {
  font-size: 18px;
  line-height: 32px;
  font-weight: 100;
}

p small {
  color: rgba(13,54,80,0.3);
}

.sub-title {
  font-family: 'Source Sans Pro', sans-serif;
}

body, html {
  font-family: 'Source Sans Pro', sans-serif;
  color: rgba(71, 82, 93, 0.8);
}

.text-center ul {
  display: inline-block;
}

/*Nav Bar*/
@media print, screen and (min-width: 721px) {
  .hide-for-medium-nav {
    display: none !important;
  }
}

@media screen and (max-width: 720px) {
  .hide-for-small-only-nav {
    display: none !important;
  }
}

.sticky {
  width: 100%;
}

#sticky-header {
  border-bottom: solid 1px #ECEFF1;
  z-index: 5;
}

#sticky-header.active {
  border-bottom: solid 1px #ECEFF1;
}

#sticky-header > .top-bar, #sticky-header > .top-bar ul {
  background-color: white;
}

#sticky-header > .top-bar a {
  color: rgba(39, 50, 56, 0.9);
}

#sticky-header, .sticky-container {
  color: white;
}

.is-dropdown-submenu li {
  height: 36px;
}

.top-bar {
  padding-top: auto;
  padding-bottom: auto;
}

.top-bar li {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif
}

.top-bar li .nav-subtext a {
  color: rgba(39, 50, 56, 0.5)!important;
  /*padding-left: 30px;*/
  padding-right: 30px;
  padding-bottom: 30px;
  font-size: 12px;
}

.menu.vertical > li {
  padding-top: 0px;
  padding-bottom: 0px;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  display: none!important;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a {
  padding-right: 16px!important;
}

.menu-text {
  display: table;
}

.logo {
  display: table-cell;
  vertical-align: middle;
}

.logo img {
  height: 30px;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.nav-large > .menu > .logo {
 padding-top: 0px;
 padding-bottom: 0px;
}

.nav-small .logo img {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu > li.logo > a {
  display: block;
}

.is-dropdown-submenu {
  margin-top: 15px;
  margin-bottom: 15px;
  min-width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 8px;
  border-color: #ECEFF1;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.is-submenu-item {
  min-width: 250px;
}

.menu > .is-dropdown-submenu-item > a {
  padding-left: 30px;
}

.title-bar {
  background: white;
  height: 70px;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255, 0.98);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay h2 {
  padding-bottom: 8px;
  padding-top: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #1FAD5C;
  font-weight: 600;
}

.overlay li {
  list-style-type: none;
}

.overlay ul {
  margin-left: 0px;
  font-size: 16px;
}

.overlay-content {
  position: relative;
  width: 100%;
  border-top: 1px solid #eceff1;
}

.overlay-content .columns {
  border-bottom: 1px solid #eceff1;
}

.overlay-sub {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.overlay-sub h3 a {
  color: #1FAD5C;
  font-weight: 400;
}

.overlay a {
  padding-bottom: 8px;
  padding-top: 8px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  color: #1FAD5C;
  font-weight: 600;
}

.overlay .logo a {
  padding: 0px;
}

.overlay .closebtn {
  position: absolute;
  top: 0%;
  right: 5%;
  font-size: 60px;
  line-height: 60px;
  color: rgba(0,0,0, 0.9);
}

.is-submenu-item .material-icons {
  font-size: 14px;
  padding-left: 10px;
}

.overlay-content .material-icons {
  font-size: 16px;
  padding-left: 10px;
}

.bg-top .button {
  margin-top: 10px;
}

.button {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  padding: 0.85rem 2rem;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 15px;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #EF476F;
  color: white;
}

.top-bar .button {
  color: white!important;
  padding: 0.85rem 2rem;
  margin-right: 30px;
  margin-left: 30px;
}

.button:hover, .button:focus {
  background-color: #8e2d56;
}

.title-bar .menu-icon {
  margin-right: 20px;
}

.banner img {
  max-height: 400px;
}

.bg-container {
  position: relative;
  /*background: white;*/
  overflow: hidden;
}

.bg-container:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /*opacity: 0.5;*/
  /* background-image: url(/images/pages/mimo-bg.svg); */
  background-repeat: repeat;
  background-position: center;
  background-size: 250%;
}

/*footer*/

@media screen and (min-width: 1024px) {
  footer {
    padding-right: 90px!important;
  }
}

footer {
  padding: 20px 20px 20px 20px;
  background-color: white;
  color: rgba(39, 50, 56, 0.9);
  border-top: solid 1px #ECEFF1;
  background-color: #0188bb;
  box-shadow: 0px 1000px 0px 1000px #0188bb;
}

footer a {
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

footer a:hover {
  color: rgba(136, 196, 222, 0.9);
  -webkit-transition: color 0.1s ease-out;
  -moz-transition: color 0.1s ease-out;
  -o-transition: color 0.1s ease-out;
  transition: color 0.1s ease-out;
}

.social-button {
  margin-left: 10px;
  margin-right: 10px;
}

.social-button-row img {
  max-height: 30px;
  width: auto;
}

.footer-copyright {
  color: #cbcbcb;
  font-size: 16px;
  padding-top: 1rem;
}

/*Home Page*/
.bg-top {
  position: relative;
  background: #ebf8fb;
  overflow: hidden;
  padding: 80px 0;
}

.bg-top:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /*opacity: 0.5;*/
  /* background-image: url(/images/pages/mimo-bg.svg); */
  background-repeat: repeat;
  background-position: center;
  background-size: 250%;
  /*background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);*/
}

.bg-top h1, .bg-top h2, .bg-top h3, .bg-top h4, .bg-top img, .bg-top a {
  z-index: 2;
  position: relative;
}

.row.banner.home-banner {
  padding-top: 80px;
  padding-bottom: 80px;
}

.home-banner h1 {
 margin-bottom: 25px;
}

.home-banner h3 {
 margin-bottom: 25px;
}

.home-icon-banner {
  border-bottom: solid 1px #ECEFF1;
  border-top: solid 1px #ECEFF1;
}

.home-icon-banner .material-icons {
  font-size: 60px;
}

.home-icon-banner > div > div > div > div:nth-child(2) > .material-icons {
  color: #EF476F;
}

.home-icon-banner > div > div > div > div:nth-child(3) > .material-icons {
  color: #EF476F;
}

.home-icon-banner > div > div > div > div:nth-child(4) > .material-icons {
  color: #EF476F;
}

.home-icon-banner > div > div > div > div:nth-child(5) > .material-icons {
  color: #EF476F;
}

.home-icon-banner > div > div > div > div > h2 {
  font-weight: 600;
}

.home-icon-banner > div > div > div > div > h2 > span {
  font-weight: 100;
}

.flat-card {
  z-index: 2;
  position: relative;
  /*background-color: white;*/
  /*border: solid 1px #ECEFF1;*/
  border-radius: 15px;
  padding: 50px;
  margin-bottom: 80px;
}

.blog img {
  max-height: 500px;
}

.blog-image {
  text-align: center;
  margin: 40px;
}

/* .flat-card img { */
/*   max-height: 300px; */
/* } */

.banner > .large-12 > div > img {
  max-width: 1000px;
  width: 100%;
  height: auto;
  margin-bottom: 40px;
  margin-top: 10px;
}

.dev-banner {
  background-color: #2C2743;
  color: rgba(255, 255, 255, 0.90);
}

.dev-banner h2, .dev-banner h5 {
  color: rgba(255, 255, 255, 0.90);
}

.dev-banner p {
  font-size: 16px;
}

.dev-banner .material-icons {
  color: #1FAD5C;
  font-size: 64px;
}

/*Plans Page*/

.plans-banner > .large-12 > p {
  margin-bottom: 20px;
}

.plans-card-row > h2 {
  margin-bottom: 30px;
}

.plans-card-row > .row > div:nth-child(1) > h3 {
  margin-bottom: 0px;
}

.plans-card-row > .row > div:nth-child(1) > .plans-card > .plan-price > h2 {
  color: #0088bb;
}

.plans-card-row > .row > div:nth-child(2) > .plans-card {
  border-color: #90d6ae;
  box-shadow: 0 0 10px rgba(23, 172, 91,.5);
}

.plans-card-row > .row > div:nth-child(2) > .plans-card > .plan-price > h2 {
  color: #17ac5b;
}

.plans-card-row > .row > div:nth-child(3) > .plans-card > .plan-price > h2{
  color: #f1476d;
}

.plans-card {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ECEFF1;
  border-radius: 15px;
  height: 100%;
}

.plan-title {
  margin-top: 20px;
  margin-bottom: 18px;
}

.plan-title h4 {
  /*color: rgba(255, 255, 255, 0.90);*/
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.plan-price {
  /*border-bottom: 1px solid #ECEFF1;*/
}

.plan-features h5 {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0px;
}

.plan-features-list ul {
  padding-left: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0px;
}

.plan-features-list li {
  list-style-type: none;
  color: rgba(0,0,0, 0.54);
  padding-bottom: 10px;
}

.signup h2, .signedup h3 {
  margin-top: 90px;
}

#engageModal {
  outline: none;
  border: none;
}

.signedup {
  display: none;
}

.faqs {
  margin-bottom: 40px;
}

/*Product*/

.product-top {
  /*border-bottom: solid 1px #ECEFF1;*/
  background-image: url('/images/pages/product-banner.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
}

@media screen and (min-width: 1200px) {
  .product-top {
    height: 600px;
  }
}

.integrations-logos img {
  max-height: 50px;
}

.integrations-logos > div {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*Contact Us*/

.contact-card {
  margin-top: -120px;
  margin-bottom: 20px;
  border-color: #ECEFF1;
  border-radius: 20px;
  border: 1px solid #ECEFF1;
}

/*Videos*/

.about-us-video {
  padding-top: 20px;
  padding-bottom: 20px;
}

.about-us-video p {
  padding-top: 10px;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*About Us*/

.profile-image {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.profile-image-andrew {
  background-image: url('/images/pages/staff/andrew.jpg');
  background-size: cover;
}

.profile-image-simon {
  background-image: url('/images/pages/staff/simon.jpg');
  background-size: cover;
}

.profile-image-sin {
  background-image: url('/images/pages/staff/sin.jpg');
  background-size: cover;
}

.profile-image-zak {
  background-image: url('/images/pages/staff/zak.jpg');
  background-size: cover;
}

.profile-image-ching {
  background-image: url('/images/pages/staff/ching.jpg');
  background-size: cover;
}

.profile-image-ewan {
  background-image: url('/images/pages/staff/ewan.jpg');
  background-size: cover;
}

.profile-image-zakr {
  background-image: url('/images/pages/staff/zakr.jpg');
  background-size: cover;
}

.profile-image-jenny {
  background-image: url('/images/pages/staff/jenny.jpg');
  background-size: cover;
}

.profile-bio h3 {
  margin: 0px;
  font-size: 20px;
  font-weight: bold
}

.about-mimo {
  margin-bottom: 40px;
}

.about-mimo p {
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-bottom: 40px;
}

/*facebook landing*/

.fb-1-hero {
  position: relative;
  background: white;
  overflow: hidden;
  background-image: url(/images/pages/fb-1-sm.jpg);
  background-size: cover;
  border-bottom: solid 1px #eceff1;
}

.fb-1-hero h1 {
  font-size: 48px;
  font-weight: bold;
  color: rgba(255,255,255,0.9);
  text-shadow: 0px 0px 3px rgba(0,0,0,0.6);
}

.fb-1 .bg-container {
  position: relative;
  background: white;
  overflow: hidden;
}

.fb-2 {
  position: relative;
  background: white;
  overflow: hidden;
  background-image: url(/images/pages/fb-2-sm.jpg);
  background-size: cover;
  border-bottom: solid 1px #eceff1;
}

.fb-3-hero {
  position: relative;
  background: white;
  overflow: hidden;
  background-image: url(/images/pages/fb-3-sm.jpg);
  background-size: cover;
  border-bottom: solid 1px #eceff1;
}

.fb-3-hero h1 {
  font-size: 48px;
  font-weight: bold;
  color: rgba(255,255,255,0.9);
  text-shadow: 0px 0px 3px rgba(0,0,0,0.6);
}

.fb-3 .bg-container {
  position: relative;
  background: white;
  overflow: hidden;
}

@media screen and (max-width: 640px) {
  .fb-1-hero {
    position: relative;
    background: white;
    overflow: hidden;
    background-image: url(/images/pages/fb-1-sm.jpg);
    background-position: center;
    background-size: cover;
    border-bottom: none;
    background-image: linear-gradient(rgba(255,255,255,0) 0%,rgba(255,255,255,0) 80%,rgba(255,255,255,1) 100%), url(/images/pages/fb-1-sm.jpg);
  }

  .fb-1 .bg-container {
    position: relative;
    background: white;
    overflow: hidden;
  }

  .fb-1 .bg-container:before {
    background-image: none;
  }

  .fb-1-hero h1 {
    margin-top: 100px;
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: bold;
    color: rgba(255,255,255,0.9);
    text-shadow: 0px 0px 3px rgba(0,0,0,0.6);
  }

  .fb-3-hero {
    position: relative;
    background: black;
    overflow: hidden;
    background-image: url(/images/pages/fb-3-sm.jpg);
    background-size: cover;
    border-bottom: none;
    background-image: linear-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,0) 80%,rgba(0,0,0,1) 100%), url(/images/pages/fb-3-sm.jpg);
  }

  .fb-3 .bg-container {
    position: relative;
    background: black;
    overflow: hidden;
  }

  .fb-3 .bg-container:before {
    background-image: none;
  }

  .fb-3-hero h1 {
    margin-top: 100px;
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: bold;
    color: rgba(255,255,255,0.9);
    text-shadow: 0px 0px 3px rgba(0,0,0,0.6);
  }
}

.unifi-banner img, .openmesh-banner img, .ruckus-banner img {
  height: 450px;
  width: auto;
  max-height: 600px;
  max-width: 1000px;
}

.meraki-banner img {
  margin-left: -500px;
  height: 450px;
  width: auto;
  max-height: 600px;
  max-width: 1000px;
}

.meraki-banner.bg-top:before {
  background-image: linear-gradient(45deg,#fff 50%,#e6e6e6 100%);
}

.meraki-banner .button {
  background: #67b346;
}

.meraki-banner .button:hover {
  background: #5CA03E;
}

.meraki-banner h1 {;
  color: #67b346
}

.unifi-banner.bg-top:before {
  background-image: linear-gradient(45deg,#24252a 0%,#424347 100%);
}

.unifi-banner h1, .unifi-banner h4 {
  color: rgba(255,255,255,0.9);
}

.unifi-banner .button {
  background: transparent;
  border: 1px solid rgba(255,255,255,0.9);
}

.unifi-banner .button:hover {
  background: #424347;
  border: 1px solid rgba(255,255,255,0.9);
}

.openmesh-banner.bg-top:before {
  background-image: none;
  background-color: #00af41;
}

.openmesh-banner .button {
  background: #f6d93c;
  color: rgba(0,0,0,0.9);
}

.openmesh-banner .button:hover {
  background: #f6d93c;
  color: rgba(0,0,0,0.9);
  -ms-filter: brightness(120%);
  filter: brightness(120%);
}

.openmesh-banner h1, .openmesh-banner h4 {
  color: rgba(255,255,255,0.9);
}

.ruckus-banner.bg-top:before {
  background-image: linear-gradient(45deg,#0c0c0e 0%,#2a2a2d 100%);
}

.ruckus-banner h1 {
  color: #e87424;
}

.ruckus-banner h4 {
  color: rgba(255,255,255,0.9);
}

.ruckus-banner .button {
  background: #e87424;
  border: 1px solid #c75e15;
}

.ruckus-banner .button:hover {
  background: #c75e15;
  border: 1px solid #c75e15;
}

/*mobile style*/

@media screen and (max-width: 640px) {
  /*home small*/
  .bg-top .button {
    margin-top: 40px;
  }
  h1 {
    font-weight: 600;
    font-size: 32px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-weight: 600;
  }
  .row.banner {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .flat-card {
    padding-right: 30px;
    padding-left: 30px;
  }
  .fb-3-hero {
    background-position: center;
  }
  .fb-1 {
    background-position: center;
  }
  /*plans small*/
  .row.banner.plans-banner {
    padding-top: 40px;
  }
  .plans-card-row>h2 {
    font-size: 32px;
    font-weight: 600;
  }
  .plans-card {
    margin-bottom: 20px;
    height: 250px;
    padding-top: 0px;
  }
  .plan-title h3 {
    font-size: 28px;
    margin-bottom: 0px;
  }
  .plan-title {
    margin-bottom: 10px;
  }
  .plans-card .button {
    padding: 0.6rem 1.5rem;
    border-radius: 8px;
    font-size: 0.8rem;
  }
  .signup h2, .signedup h3 {
    margin-top: 40px;
  }
  #engageModal.reveal {
    margin: auto;
    top: 0;
    left: 0;
    width: 90%;
    max-width: none;
    height: fit-content;
    min-height: fit-content;
    border: 0;
    border-radius: 8px;
  }
}
