<footer>
  <div class="row">
    <div class="small-6 medium-3 large-expand">
      <h4>Product</h4>
      <ul>
        <li><a href="/plans">Plans</a></li>
        <li><a href="/product">Features</a></li>
        <li><a href="https://app.oh-mimo.com/#/" target="_blank">Dashboard</a></li>
      </ul>
    </div>
    <div class="small-6 medium-3 large-expand">
      <h4>Compatibility</h4>
      <ul>
        <li><a href="/unifi">Ubiquiti</a></li>
        <li><a href="/openmesh">OpenMesh</a></li>
        <li><a href="/ruckus">Ruckus VSZ</a></li>
        <li><a href="/meraki">Cisco Meraki</a></li>
        <!-- <li><a href="/ct">CT Networks</a></li> -->
      </ul>
    </div>
    <div class="small-6 medium-3 large-expand">
      <h4>Company</h4>
      <ul>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
    <div class="small-6 medium-3 large-expand">
      <h4>Support</h4>
      <ul>
        <li><a class="contact">Contact</a></li>
        <li><a href="http://docs.oh-mimo.com" target="_blank">Help Centre</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="small-12">
      <p class="footer-copyright">© 2018-2098 MIMO.</p>
      <a href="https://twitter.com/ohmimo"><img class="footer-social-icon" src="/images/logo/twitter-icon.svg" alt=""></a>
    </div>
  </div>
</footer>
