<footer class="footer-nav row expanded collapse">
  <div class="footer-nav-left">
    <p class="footer-copyright">© 2018-2098 MIMO.</p>
  </div>
  <div class="footer-nav-center">
    <ul class="footer-nav-menu">
      <li class="footer-nav-menu-item">
        <a href="/plans">Plans</a>
      </li>
      <li class="footer-nav-menu-item">
        <a class="contact">Contact</a>
      </li>
      <li class="footer-nav-menu-item">
        <a href="https://www.ct-networks.io" target="_blank">Powered By</a>
      </li>
      <li class="footer-nav-menu-item">
        <a href="/about">About</a>
      </li>
      <li class="footer-nav-menu-item">
        <a href="https://twitter.com/ohmimo"><img class="footer-social-icon" src="images/logo/twitter-icon.svg" alt=""></a>
      </li>
    </ul>
  </div>
  <div class="footer-nav-right">
    <ul class="footer-nav-menu-icons">
    </ul>
  </div>
</footer>
