<footer>
  <div class="row">
    <div class="small-6 medium-3 columns large-expand">
      <h4>Product</h4>
      <ul>
        <li><a href="/plans">Plans</a></li>
        <li><a href="/product">Features</a></li>
        <li><a href="https://app.oh-mimo.com/#/" target="_blank">Dashboard</a></li>
        <li><a href="/gdpr-wifi-tools">GDPR Tools</a></li>
        <li><a href="/gdpr-wifi-tools/request">Data Request</a></li>
        <li><a href="/referral-program">Referral Program</a></li>
      </ul>
    </div>
    <div class="small-6 medium-3 columns large-expand">
      <h4>Compatibility</h4>
      <ul>
        <li><a href="/compatible-devices/meraki-splash-pages">Cisco Meraki</a></li>
        <li><a href="/compatible-devices/openmesh-splash-pages">OpenMesh</a></li>
        <li><a href="/compatible-devices/ruckus-vsz-splash-pages">Ruckus VSZ</a></li>
        <li><a href="/compatible-devices/ubnt-unifi-splash-pages">Ubiquiti UniFi</a></li>
      </ul>
    </div>
    <div class="small-6 medium-3 columns large-expand">
      <h4>Company</h4>
      <ul>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/terms">Terms</a></li>
      </ul>
    </div>
    <div class="small-6 medium-3 columns large-expand">
      <h4>Support</h4>
      <ul>
        <li><a class="contact">Contact</a></li>
        <li><a href="https://docs.oh-mimo.com" target="_blank">Help Centre</a></li>
        <li><a href="https://discuss.oh-mimo.com" target="_blank">Community</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <p class="footer-copyright">© 2018-2098 MIMO.</p>
      <a href="https://twitter.com/ohmimo"><img class="footer-social-icon" src="/images/logo/twitter-icon.svg" alt=""></a>
    </div>
  </div>
</footer>

<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#000"
    },
    "button": {
      "background": "#f1d600"
    }
  },
  "content": {
    "dismiss": "I'm happy",
    "message": "We use cookies on this site. Please confirm you're happy or find out how to manage your cookies.",
    "href": "https://oh-mimo.com/terms/cookies"
  }
})});
</script>
