---
layout: fixed-header
---

<script>
function navactive() {
  var id1 = document.querySelector("#case-studies");
  var id2 = document.querySelector("#case-studies-mobi");
  id1.style.backgroundColor = "#EEEEEE";
  id2.style.backgroundColor = "#EEEEEE";

}
window.onload = navactive;
</script>

<div class="case-study mdl-grid">
  <div class="center-cell mdl-cell mdl-cell--12-col" style="margin-top:20px;margin-bottom:40px;">
    <div class="legacy-posts">
      {{ content }}
    </div>
  </div>
</div>
