---
layout: default
---
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-layout__header--scroll mdl-shadow--1dp">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <div class="logo">
        <a href="/"><img src="/images/pages/cucumber_tony_logo.svg"></a>
      </div>
      <!-- Left Nav -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" id="community" href="/community/">Community</a>
        <a class="mdl-navigation__link" id="showcase" href="/community/showcase">Showcase</a>
        <a class="mdl-navigation__link" id="tutorials" href="/community/tutorials">Tutorials</a>
        <a class="mdl-navigation__link" href="https://discuss.ct-networks.io/" target="_blank">Discuss</a>
      </nav>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="/sign-up">Sign-up</a>
        <a class="mdl-navigation__link" href="https://my.ctapp.io/#/login">Login</a>
        <a class="mdl-navigation__link" target="_blank" href="http://docs.ct-networks.io/">Help</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer mdl-layout--small-screen-only mdl-shadow--1dp">
    <nav class="mdl-navigation">
      <!-- <span class="sidebar-logo"><img src="/images/pages/cucumber-wifi.svg"></span> -->
      <a class="mdl-navigation__link" id="community-mobi" href="/community/">Community</a>
      <a class="mdl-navigation__link" id="showcase-mobi" href="/community/showcase">Showcase</a>
      <a class="mdl-navigation__link" id="tutorials-mobi" href="/community/tutorials">Tutorials</a>
      <a class="mdl-navigation__link" href="https://discuss.ct-networks.io/" target="_blank">Discuss</a>
      <hr>
      <a class="mdl-navigation__link" target="_blank" href="http://docs.ct-networks.io/">Help</a>
      <a class="mdl-navigation__link" href="/sign-up">Sign-up</a>
      <a class="mdl-navigation__link" href="https://my.ctapp.io/#/login">Login</a>
    </nav>
  </div>
  <main class="mdl-layout__content">

    <!-- <div id="notification" class="notification mdl-shadow--4dp mdl-cell--hide-phone">
      <i id="close" class="notification-close material-icons">close</i>
      <div class="notification-header" onclick="parent.location='/school-of-cucumber-tony/'">
      </div>
      <div class="notification-body" onclick="parent.location='/school-of-cucumber-tony/'">
        <h4>Want to Learn More About WiFi?</h4>
        <p>Sign up for our School of CT class<br>Click here to find out more</p>
      </div>
    </div> -->

    {{ content }}
    {% include footer.html %}

  </main>
</div>
