---
layout: default
---
<div data-sticky-container>
  <div id="sticky-header" class="sticky" data-sticky data-options="anchor: page; stickyOn: small; marginTop: 0;">
    <div class="title-bar hide-for-medium-nav">
      <div class="title-bar-title">
        <div class="logo">
          <a href="/"><img src="/images/logo/mimo-name.svg"></a>
        </div>
      </div>
      <button class="menu-icon dark" type="button" onclick="openNav()"></button>
    </div>

    <div class="top-bar hide-for-small-only-nav">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu data-options="disableHover:true;clickOpen:true">
          <li class="menu-text">
            <div class="logo">
              <a href="/"><img src="/images/logo/mimo-name.svg"></a>
            </div>
          </li>
        </ul>
      </div>
      <div id="nav-menu" class="top-bar-right hide-for-small-only-nav invisible-man">
        <ul class="dropdown menu" data-dropdown-menu data-options="disableHover:true;clickOpen:true">
          <li>
            <a title="MIMO Splash Pages and Email Marketing Tools" href="#">Product &#9662;</a>
            <ul class="menu">
              <li><a id="product" href="/product/">Core Features</a></li>
              <li><a id="gdpr" href="/gdpr-wifi-tools/">GDPR Compliance</a></li>
              <li><a id="manufacturers" href="/how-to-install/">Community Edition</a></li>
              <li><a id="product" href="/integrations/">Integrations</a></li>
            </ul>
          </li>
          <li><a title="MIMO Splash Pages and Email Marketing" href="/plans">Pricing</a></li>
          <li><a title="MIMO Social Logins and Email Marketing" class="button register-button" href="/join">Register</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<main>
  <div id="navTray" class="overlay">
    <div class="title-bar hide-for-medium-nav">
      <div class="title-bar-title">
        <div class="logo">
          <a href="/"><img src="/images/logo/mimo-name.svg"></a>
        </div>
      </div>
      <a class="closebtn" onclick="closeNav()">&times;</a>
    </div>
    <div class="overlay-content">
      <div class="row">
        <div class="small-12 columns">
          <h2><a class="register-button" href="/join">Register</a></h2>
        </div>
        <div class="small-12 columns">
          <h2><a href="/how-it-works">How It Works</a></h2>
        </div>
        <div class="small-12 columns">
          <h2><a href="/plans">Pricing</a></h2>
        </div>
        <div class="small-12 columns">
          <h2><a href="/product">Products</a></h1>
        </div>
      </div>
    </div>
  </div>

  {{ content }}
  {% include footer.html %}
</main>
