---
layout: default
---
<div data-sticky-container>
  <div id="sticky-header" class="sticky" data-sticky data-options="anchor: page; stickyOn: small; marginTop: 0;">
    <div class="title-bar hide-for-medium-nav">
      <div class="title-bar-title">
        <div class="logo">
          <a href="/"><img src="/images/logo/mimo-name.svg"></a>
        </div>
      </div>
      <button class="menu-icon dark" type="button" onclick="openNav()"></button>
    </div>

    <div class="top-bar hide-for-small-only-nav">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu data-options="disableHover:true;clickOpen:true">
          <li class="menu-text">
            <div class="logo">
              <a href="/"><img src="/images/logo/mimo-name.svg"></a>
            </div>
          </li>
        </ul>
      </div>
      <div id="nav-menu" class="top-bar-right hide-for-small-only-nav invisible-man">
        <ul class="dropdown menu" data-dropdown-menu>
          <li>
            <a href="#">Product</a>
            <ul class="menu">
              <li><a href="/wifi-splash">Welcome</a></li>
              <li class="nav-subtext"><a href="/wifi-splash">Create stunning splash pages and capture guest details.</a></li>
              <li><a href="/campaign-engage">Engage</a></li>
              <li class="nav-subtext"><a href="/campaign-engage">Drive customer retention and loyalty with targeted campaigns.</a></li>
            </ul>
          </li>
          <li><a href="/plans">Pricing</a></li>
          <li><a class="button" href="/join">Register</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<main>
  <div id="navTray" class="overlay">
    <div class="title-bar hide-for-medium-nav">
      <div class="title-bar-title">
        <div class="logo">
          <a href="/"><img src="/images/logo/mimo-name.svg"></a>
        </div>
      </div>
      <a class="closebtn" onclick="closeNav()">&times;</a>
    </div>
    <div class="overlay-content">
      <div class="row">
        <div class="small-12 columns">
          <h2><a href="/join">Register</a></h2>
        </div>
        <div class="small-12 columns">
          <h2><a href="/plans">Pricing</a></h2>
        </div>
        <div class="small-12 columns">
          <h2>Products</h1>
        </div>
        <div class="small-12 columns overlay-sub">
          <h3><a href="/wifi-splash">Welcome</a></h3>
          <p>Create stunning splash pages and capture guest details.</p>
        </div>
        <div class="small-12 columns overlay-sub">
          <h3><a href="/campaign-engage">Engage</a></h3>
          <p>Drive customer retention and loyalty with targeted campaigns.</p>
        </div>
      </div>
    </div>
  </div>

  {{ content }}
  {% include footer.html %}
</main>
